/* Import Poppins Font */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#weather-dashboard {
    display: flex;
    gap: 20px;
}

.weather-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 200px;
    padding: 20px;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    transition: background 0.3s ease-in-out;
}

.weather-box h2 {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 20px;
}

.weather-box .temperature {
    font-size: 28px;
    font-weight: 600;
}

.weather-box .description {
    font-size: 16px;
}
